<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'projects/css/styles.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand px-5">
        {% if user.is_authenticated %}
            <a class="navbar-brand mx-5 px-5 fs-3" href="{%url 'home'%}">✔ TaskFlow</a>
            <ul class="navbar-nav">
                <p>Estas autenticado</p>
                <a class="nav-link" href="{%url 'logout'%}">Cerrar sesion</a>
            </ul>
        {% else %}
            <a class="navbar-brand mx-5 px-5 fs-3" href="{%url 'index'%}">✔ TaskFlow</a>
            <ul class="navbar-nav">
                    <li class="nav-item">
                    <a class="nav-link" href="{%url 'login'%}">Entrar</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="{%url 'register'%}">Registrarse</a>
                    </li>
                {% endif %}
            </ul>
    </nav>
    <div class="container">
        {%block content%}
        {%endblock%}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>