{% extends 'base.html' %}
{%load static%}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-4 col-12">
        <div class="card shadow-lg px-3 py-5 text-center form-card">

            <h1 class="fs-2">✔ TaskFlow</h1>
            <h2 class="fs-4">Bienvenido de nuevo</h2>
            <p>Gestiona tus proyectos con eficiencia y calidad.</p>
            {% if error %}
                <p class="error-message">{{ error }}</p>
            {% endif %}
            <form action="" method="post">
                {% csrf_token %}
                <div class="row text-start py-2 px-3 my-2">
                    <label for="usernameInput" class = "form-label">Nombre de usuario</label>
                    <input type="text" name="username" placeholder="&#128100; Ingrese su nombre de usuario" id="usernameInput"class="form-control form-input">
                </div>
                <div class="row text-start py-2 px-3 my-2">
                    <label for="passwordInput" class="form-label col-4">Contraseña</label>
                    <p class="col-8 text-end small"><a href="">¿olvidaste tu contraseña?</a></p>
                    <input type="password" name= "password" id="passwordInput" class="form-control form-input" placeholder="👁️ Ingrese su contraseña">
                </div>
                <div class="row justify-content-center pt-3 px-3">
                    <button class="btn form-btn ">Iniciar sesión</button>
                </div>
                
            </form>
        </div>
    </div>
</div>

{%endblock%}